<div class="weui_tab tabbar">
    <div class="weui_tabbar">
        <a href="#/" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <span class="fa fa-home"></span>
            </div>
            <p class="weui_tabbar_label">首页</p>
        </a>
        <a href="#/friend" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <span class="fa fa-paper-plane"></span>
            </div>
            <p class="weui_tabbar_label">好友去哪儿</p>
        </a>
        <a href="#/user" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <span class="fa fa-user"></span>
                <!-- <img src="" alt=""> -->
            </div>
            <p class="weui_tabbar_label">个人中心</p>
        </a>
    </div>
</div>